<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstapptests">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstAppTests">
        <activity
            android:name=".GameScreen"
            android:exported="false" />
        <activity
            android:name=".ConfigScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FirstAppTests.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".Icons"
            android:label="Choose Your Character!!">
        </activity>

        <activity android:name=".TurtleFragment"
            android:label="Selected Turtle!">
        </activity>
        <activity android:name=".DoriFragment"
            android:label="Selected Dori!">
        </activity>
        <activity android:name=".GameScreen"
            android:label="Started Game!">
        </activity>
    </application>

</manifest>